.shopping
{
    width: 75%;
    height: 100%;
    max-height: 200%;
    background-size: 100%;
    padding-bottom: 0%; 
    position: absolute;
    background-color: powderblue;
    overflow: auto;
    background-image: url("wallpaper1.jpg");
    
}
.cart
{
    width: 25%;
    height: 100%;
    max-height: 200%;
    background-size: 100%;
    max-height: 200%;
    margin-top: 0%;
    margin-left: 75%;
    padding-bottom: 0%;
    position: absolute;
    background-color: aquamarine;
    overflow: auto;
    background-image: url("cart_wallpaper.gif");
    background-repeat: unset;   
}
#text_area_style
{
    border-color: coral;
  
}
.restore_position
{
    margin-top: 100px;
    margin-left: 40px;
    border-style: double;
    border-bottom-color: teal;
    border-top-color: teal;
}
.add_position
{
    margin-top: 10px;
    margin-left: 700px;
    border-style: double;
    border-bottom-color: teal;
    border-top-color: teal;
}
.checkout_position
{
    margin-top: 420px;
    border-style: double;
    border-top-color: slateblue;

}
.search_position
{   border-style: groove;
    
    border-bottom-color: yellow;
    border-top-color: tomato;
    border-left-color: violet;
    border-right-color: slateblue;

}